body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
   
}
.header, footer {
    background-color: #1f2937;

}
.headerlogo, .awesome {
    color: #f9faf8;
}
.awesome {
    font: weight 900px;
    font-size: 48px;
}
.headerlogo {
    font-size: 24px;
}
.headerlinks, .subtextheader {
    font-size: 18px;
    color: #e5e7eb;

}

.upper header {
    display: flex;
    flex-direction: row;
    
}
.header {
    display: flex;
}
.headerlinks {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 24px;

}
.bottomheader {
    display: flex;
    flex-direction: row;
}
